<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://a9.com/-/spec/opensearch/1.1/">
    <title>MEDIN - ${title}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="search"
          type="application/opensearchdescription+xml" 
          href="${script_root}/opensearch-description.xml"
          title="MEDIN metadata search" />
  </head>
  <body>
    <h1>${title}</h1>

    ${self.body()}
  </body>
</html>
