#bodycontent_wide h3, h3 {
    color:#304E96;
    margin-bottom:0.1em;
    margin-top:0.1em;
    font-size:1.1em;
}
.tabulate td {
    padding-right: 0.3em;
    vertical-align: top;
}
table.mini {
    margin-left: 2em;
    margin-top: 0;
    padding-top: 0;
}
table.tabulate thead th {
    background-color:#DAD8FF;
    border-top: 1px solid #ADACA8;
    border-bottom:0.5em solid white;
    padding-right: 0.3em;
}
table.tabulate {
    clear: both;
    border-collapse:collapse;
}
table.tabulate tr.last td {
    padding-bottom:0.5em;
    border-bottom: 1px solid #ADACA8;
}
th {
    white-space: nowrap;
}
td.heading {
    background-color: #DAD8FF;
    min-width:12em;
    border-top:0.5em solid white;
    padding: 0;
}
td.content {
    background-color: #EBF9FF;
    border-top:0.5em solid white;
    padding: 0;
}
div.element-info {
    background-color: #DAD8FF;
	display: none;
}
#bodycontent_wide div.element-info p {
    color:black;
    font-size:100%;
}
#bodycontent_wide .no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
div.cell {
    padding: 0.5em;
    border-top: 1px solid #ADACA8;
}
div.sibling {
    border-top: 1px solid #DAD8FF;
}
div.subitem {
    padding-left: 1.5em;
}
.right {
    float: right;
}
.left {
    float: left;
}
img.sort {
    vertical-align:middle;
    width:12px;
    height:10px;
}
img.desc {
    background:url(/images/catalogue-sprites.png) no-repeat 0 0;
}
img.asc {
    background:url(/images/catalogue-sprites.png) no-repeat -12px 0;
}
#bodycontent_wide a:visited, #menu-contents a:visited {
    color:#673096;
}
#bodycontent_wide p.error {
    border-style:groove;
    border-color: #A00000;
    background-color: #F8B8B8;
    padding: 0.2em;
    color: black;
}
#bodycontent_wide p.notice {
    border:1px solid #cfcf3d;
    background-color:#ffffbf;
    padding: 0.2em;
    color: black;
}
fieldset {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 1px solid #ADACA8;
}
fieldset.off {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
legend {
    color: #304E96; 
    font-size:1.4em; 
    font-weight:normal;
}
legend a {
	text-decoration:none;
    color:#304E96; 
}
legend a:hover {
	text-decoration:underline;
    color:#304E96; 
}
legend a:visited {
	text-decoration:none;
    color:#304E96; 
}

#bodycontent_wide fieldset p {
    margin-bottom: 0;
    margin-top: 0.25em;
}
blockquote {
    margin-left: 1.5em;
}
#bodycontent_wide kbd, #menu-contents kbd {
    font-size: 9pt;
    color: black;
    background:#eee;
}
#version {
    text-align: right;
}
#menu-contents, .results-nav {
  background: white;
  color:#666666;
  font-size:9pt;
}
.results-nav {
  width:49%;
}
#menu-contents p {
    margin-top: 0.5em;
}
#menu-contents span.error,
#bodycontent_wide span.error,
#bodycontent_wide div.error {
    color:#A00000;
}
#menu-contents a {
	color:#304e96;
}
#menu-contents a:hover {
	color:#333;
}
#bodycontent_wide .info, .info {
    background-color:#FFEBC8;
    border:1px solid #ADACA8;
    padding:0.3em;
    line-height:1.2em;
}

#menu-contents .info {
    margin-bottom: 0.5em;
}

.info li {
    margin-left:1.2em;
}
div.extent {
    width:270px;
    margin:auto;
    margin-left:0.5em;
    padding:0 0 0.5em 0.5em;
    background-color:white;
}
.lower-link {
    margin-top: 0.3em;
}
img.extent {
    width:250px;
    height:250px;
    border: 1px solid #ADACA8;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.5em;
}
img.loading {
    vertical-align:middle;
}

/* Box resizing icons
 *
 * This adds icons missing from the default jQuery widget 
 */
.ui-custom-icon { 
    display: block; 
    text-indent: -99999px; 
    overflow: hidden; 
    background-repeat: no-repeat; 
    width: 16px; 
    height: 16px; 
    background-image: url(/images/ui-resize-handles.png); 
}
.ui-resizable-sw { cursor: sw-resize; width: 12px; height: 12px; left: 1px; bottom: 1px; }
.ui-resizable-nw { cursor: nw-resize; width: 12px; height: 12px; left: 1px; top: 1px; }
.ui-resizable-ne { cursor: ne-resize; width: 12px; height: 12px; right: 1px; top: 1px; }
.ui-icon-gripsmall-diagonal-sw { background-position: -4px 1px; }
.ui-icon-gripsmall-diagonal-nw { background-position: -19px -4px; }
.ui-icon-gripsmall-diagonal-ne { background-position: -29px -4px; }

#comment .ui-resizable-se {
bottom:17px;
right:6px;
}

/* Search page styling */

#bodycontent_wide div.olControlMousePosition {
  background-image:url("/images/opaque.png");
  bottom:0px;
  padding:0 0.5em;
  right:0px;
}
#search-term-controls {
  background-color:#EFEFEF;
  border:1px solid gray;
  padding:0.5em;
}
.target {
  display:none;
}

/* Tooltip styling */
div.tooltip {
  padding:4px 0px;
}
#bodycontent_wide img.tooltip-arrow,
#menu-contents img.tooltip-arrow
{
  position:relative;
  vertical-align:middle;
  float:left;
  z-index:101;
  width:10px;
  right:-1px;
  height:19px;
}
#bodycontent_wide span.tooltip-text,
#menu-contents span.tooltip-text
{
  display:inline-block;
  color: black;
  font-size:12px;
  padding:3px;
  border:1px solid #cfcf3d;
  background-color:#ffffbf;
  line-height:1;
}

.syndicate {
  margin-top: 0.3em;
  width:49%;
  text-align:right;
}
#change-result-count { 
  margin-top: 2em;
  clear:both;
}

#text-search {
  clear:both;
}
table.help td {
  vertical-align:top;
  line-height:1.3em; 
}
table.help td:first-child {
  font-weight:bold;
}
div.example {
  margin:0.5em 0
}
#bodycontent_wide div.example kbd {
  background-color:white;
  padding:0.3em;
  border:1px solid gray;
}