.tabulate td {
    padding-right: 0.3em;
    vertical-align: top;
}
table.mini {
    margin-left: 2em;
    margin-top: 0;
    padding-top: 0;
}
table.metadata {
    clear: both;
}
th {
    white-space: nowrap;
}
td.heading {
    background-color: #DAD8FF;
    padding-left: 0.5em;
}
td.content {
    background-color: #EBF9FF;
    padding-left: 0.5em;
}
#bodycontent_wide .no-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}
div.sibling {
    border-top: 1px solid #DAD8FF;
}
div.subitem {
    padding-left: 1.5em;
}
.sort {
    font-size: 120%;
    float: right;
    padding-left: 0.5em;
}
.selected {
    color: #37C5F5;
}
#bodycontent_wide .error {
    border-style:groove;
    border-color: #A00000;
    background-color: #F8B8B8;
    padding: 0.2em;
    color: black;
}
fieldset {
    padding: 0.5em;
    margin-bottom: 0.75em;
    border: 1px solid #ADACA8;
}
legend {
    color: #304E96; 
    font-size:1.4em; 
    font-weight:normal;
}
#bodycontent_wide fieldset p {
    margin-bottom: 0;
    margin-top: 0.25em;
}
blockquote {
    margin-left: 1.5em;
}
#bodycontent_wide kbd {
    font-size: 9pt;
    color: black;
}
.area {
    background-image:url('/images/area-fill.png');
    background-repeat: repeat;
}
