@charset "utf-8";
/* CSS Document */

* 				{ margin:0; padding: 0;}
body 			{
	margin: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
}

#frame		{ width: 980px; margin: auto;}
#header 	{ background-image:url(/images/header_bg.jpg); height: 200px; position:relative;}

#topmenu  { position:absolute; top: 100px; left: 30px; z-index:1000;}
#topmenu li { float: left; color:#fff; font-size: 1.1em; text-align:left; list-style:none; }
#topmenu li a { padding: 0 5px; color: #304E96; text-decoration:none;}
#topmenu li a:hover { text-decoration:none; color:#999;}


#lh_col				{ width: 220px; margin: 0 0 0 0; float:left; background-image:url(/images/side_panel.gif); background-position:bottom; background-repeat:no-repeat; }
#bodycontent	{ 
	width: 490px;
	margin: 0 20px;
	float:left;
	text-align:left;
	line-height:1.8em;
	font-size:1.1em;	
	}
#bodycontent_wide	{
	width: 730px;
	margin: 10px 10px 10px 20px;
	float: left;
	line-height:1.8em;
	font-size:1.1em;
}
#rh_col				{ width: 220px; margin: 0 10px 0 0; float:left; background-image:url(/images/side_panel.png); background-position:bottom; background-repeat:no-repeat; }

#rh_col2				{ width: 220px; margin: 0 10px 0 0; float:left; }


.silverheader 	{ width: 220px;background-image:url(/images/side_panel.gif); background-position:bottom; background-repeat:no-repeat; line-height: 20px; text-align:right; padding-bottom:10px; }

.silverheader2 	{ width: 220px;background-image:none; line-height: 20px;  padding-bottom:10px; }

.silverheader a { color:#304e96; font-size: 1.2em; text-decoration:none; padding-right:10px; display:block; 
									text-transform:lowercase; }
.silverheader a:hover { color:#999999;}									
									
.silverheader2 a { color:#999999; font-size: 1.2em; text-decoration:none; padding-right:10px; display:block; 
									text-transform:lowercase; }									

.submenu		{ background-image:url(/images/side_panel.gif); background-position:bottom; background-repeat:no-repeat;}
.submenu ul { text-align:right; padding-bottom:15px; }
.submenu li { list-style: none; border-top: 1px solid #304e96; margin: 2px 10px;}
.submenu a  { color:#304e96; font-size: 1.2em; text-decoration:none; display:block; 
							text-transform:lowercase; }
.submenu a:hover  { color: #003366; text-decoration:underline; }


#bodycontent h1 { color: #304E96; font-size:1.4em; font-weight:normal; margin: 20px auto 5px;}
#bodycontent p { color:#666666; font-size:1.1em; margin-bottom: 1em; }


#bodycontent_wide h1 { color: #304e96; font-size:1.1em; font-weight:bold; margin:0.5em auto;}
#bodycontent_wide h2 { color: #304e96; font-size:1.1em; font-weight:normal; margin-top:0.5em; margin-bottom:0.1em;}
#bodycontent_wide h3 { color: #304e96; font-size:1.1em; font-weight:bold;  margin-top:0.5em; margin-bottom:0.1em;}
#bodycontent_wide h4 { color: #666; font-size:0.9em; font-weight:normal;  margin-top:0.5em; margin-bottom:0.1em;}
#bodycontent_wide p, #bodycontent_wide ol, #bodycontent_wide ul {
	font-size:1.1em;
	color:#666666;
	margin-bottom: 1em;
}
#bodycontent_wide dt, #bodycontent_wide dd, #bodycontent_wide dl, #bodycontent_wide dl {
	font-size:1.1em;
	color:#666666;
}
#bodycontent_wide dl {
	margin-bottom: 1em;
}
#bodycontent_wide li {
	list-style:inside;
	list-style-image:url(/images/bullet.png);	
}
#bodycontent_wide form {
	margin: 1em auto;
}
#bodycontent_wide a, #bodycontent a {
	color:#304e96;
}
#bodycontent_wide a:hover, #bodycontent a:hover {
	color:#333;
}

hr	{ width: 100%; height:2px; color:#6699CC;}

.quicklinks		{ background-image:url(/images/qlinks.gif); background-repeat:no-repeat; background-position:bottom;
								width: 200px; margin: 10px auto; text-align: left; padding-bottom: 20px;}
						
.quicklinks a { color:#304e96; padding: 0 20px 5px;	font-size: 1.1em; text-decoration:none; font-weight:bold; display:block; }
.quicklinks a:hover { color:#999; }						
.quicklinks	h1{ font-size: 1.4em; color: #304e96; padding: 5px 20px; line-height: 30px;
		 						background-image:url(/images/qlinks.gif); background-repeat:no-repeat; background-position:top;}
.quicklinks	p { font-size: 1.1em; color: #999; padding: 0 20px 5px; }	

.formdata ul		{ list-style:none;}
.formdata li 		{ font-size: 1.2em; color:#304e96;}
.formdata li label { text-align:left; float: left; padding-left: 0px;}
.formdata li input { width: 100px; border: 1px solid #999; float: right; 
										 margin-right: 10px; color:#666; font-size:90%; padding: 2px;}
.subnav 	{ text-align:right; margin: 4px auto;  }
.subnav li	{ text-align:right; margin: 2px 0; border-top: none; font-size:0.9em; }

.grey	{ color:#999999!important; margin: 4px auto;}

/* help styles */
.clear 					{ clear: both;}
.floatleft 			{ float:left;}
.floatrigfht 		{ float: right;}

* html #lh_col				{  margin: 0 0 0 5px; }
* html #rh_col2				{  margin: 0 5px 0 0; }

.more{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #304e96;
}
.more a { color:#304e96; text-transform:lowercase; text-decoration:none;}
.more a:hover { color:#999; text-transform:lowercase; }

#p7TMctrl {
	display: block;
	/*/*/display: block; /* hide from NN4*/
}
#p7TMctrl a:link {
	color: #333333;
}
#p7TMctrl a:visited {
	color: #333333;
}
#p7TMctrl a:hover {
	color: #66CC00;
}


/*Sets line-height of all menuitems*/
#p7TMnav {
	z-index:900;
	width: 220px;  
	float:left;
	text-align:right;
	background-color:#F7F7F7;
}

/*second level menuitem divs on - Cascades to lower levels*/
/*Sets left margin to 16px establishing a cascading indent*/
#p7TMnav div div {
}

/*The Link style for top-level menuitems*/
#p7TMnav div {
	width: 220px;
	display:block;
}
#p7TMnav div a {
	line-height: 20px;
	text-align:right;
	display:block;	
	color:#304e96;
	font-size: 1.2em;
	padding-right:10px;
	padding-bottom:0px;
	padding-top:4px;
	text-decoration:none;
	text-transform:lowercase;
}
#p7TMnav div a:visited {
	color:#304e96;
}
#p7TMnav div a:hover {
	color:#999999;
}

/*The Link style for second-level menuitems*/
#p7TMnav div div a {
	background-color: transparent;
	font-size: 1.1em;
	padding-bottom:0px;
	padding-top:0px;
	line-height:18px;
}

/*The Link style for third-level menuitems and lower*/
/*To set a specific style for the fourth level, add a div to the selector*/
/*Fourth-level example syntax: p7TMnav div div div div a {declaration}*/
#p7TMnav div div div a {
	/*font-size: 12px;*/
}

/*rules programatically assigned to parent links when image-based plus and minus option is selected*/
/*do not remove*/
.p7plusmark {
	background-repeat: no-repeat;
	background-image:   url(p7t_plus.gif);
	background-position: 0 50%;
	padding: 0 0 0 20px !important;
}
.p7minusmark {
	background-repeat: no-repeat;
	background-image:   url(p7t_minus.gif);
	background-position: 0 50%;
	padding: 0 0 0 20px !important;
}
/*rule programatically assigned to child links when image-based plus and minus option is selected*/
.p7defmark {
	background-image:  none;
	padding: 0 0 0 20px !important;
}

/*rules programatically assigned to page link correesponding to current page (You are Here)*/
.p7currentmark {
	font-weight: bold;
	text-transform: uppercase;
	color: #304e96!important;
}
.notp7currentmark {
	font-weight:100;
	text-transform: none;
	color: #304e96!important;
}
.p7bottom {
	padding-bottom:6px;
	background-image:url(/images/side_panel.png); 
	background-position:bottom;
	background-repeat:no-repeat;
}
.p7vbottom {
	padding-bottom:6px;
	background-image:url(/images/side_panel_bottom.png); 
	background-position:bottom;
	background-repeat:no-repeat;
}
#copyright {
	text-align:center;
	color: #666;	
}
#copyright a {
	text-decoration:none;
	color: #666;
}
#copyright a:hover {
	text-decoration:none;
	color: #666;
}
#copyright a:visited {
	text-decoration:none;
	color: #666;
}
#homelink {
	position:absolute;
	right:20px;
	top:20px;
	background-color:transparent;
	width:300px;
	height:100px;
}
#search {
	position:absolute;
	right:20px;
	top:155px;
}
#searchquery {
	border-color:#FFF;
	background-color:transparent;
	color:#FFF;
	font-weight:bold;
}
#searchquery:focus {
	background-color:#333;
	color:#FFF;
}
#submit {
	border:none;
	background-color:transparent;
	color:#FFF;
	font-weight:bold;	
}
#submit:hover {
	color:#CCC;
	cursor:pointer;
}
.image_no_border {
border:0;	
}
.mmhide_help_hide {
	display:none;
}
.map {
	width:735px;
	height:560px;
    border:0;
	overflow:auto;
}
.maptable {
	width:710px;
	overflow:auto;
	line-height:1.8em;
	font-size:1.1em;
	color:#666666;
}
.highlight {
	background-color:#F3EFE4;
	color:#666666;
	font-weight:900;
}