; The Portal configuration file

; This file should be edited as appropriate and copied to the
; etc/portal.ini directory

; The format of this file uses standard INI syntax as described at:
; http://docs.python.org/lib/module-ConfigParser.html

[DEFAULT]
email = enquiries@oceannet.org

; This represents the port that the webserver is running on when
; accessed from localhost.  This is used in the GDAL data source used
; to access the tile mapping service through a self-referencing
; URL. It needs to be set if port forwarding is used to expose the
; application to an external web server on a non-standard port, which
; otherwise results in an invalid `SERVER_PORT` server variable (the
; forwarded port is used, rather than the actual local port).
;
;local_port = 80

[SMTP]
; Uncomment and edit the following options to cater for non default
; SMTP settings
;server = localhost
;port = 25
