<%def name="header()">
</%def>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://a9.com/-/spec/opensearch/1.1/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Window-target" content="_top" />
    <meta http-equiv="Content-Language" content="en-GB" />
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.0)" />

    <meta name="Keywords" content="data,metadata,marine,portal,discovery,MEDIN,find,search,map,BODC,BGS,DASSH,UKHO,archive,centre" />
    <meta name="Description" content="finding marine data using the MEDIN data discovery portal" />
    <meta name="Robots" content="all" />
    <meta name="Distribution" content="Global" />
    <meta name="Revisit-After" content="15 days" />
    <meta name="Rating" content="General" />
    <meta name="Classification" content="Science" />
    <meta name="Owner" content="Marine Environmental Data and Information Network (MEDIN)" />
    % if author:
    <meta name="Author" content="${author | h}" />
    % else:
    <meta name="Author" content="MEDIN partnership" />
    % endif
    <meta name="Reply-to" content="enquiries@oceannet.org" />
    <meta name="Copyright" content="© Marine Environmental Data and Information Network (MEDIN)" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />

    <title>MEDIN - ${title}</title>

    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="ie.css" rel="stylesheet" type="text/css" />
        <![endif]--> 
    <link href="/css/portal.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript">
        <!--
        window.onload = P7_TMopen;
        // -->
    </script>
    
    ${self.header()}
    
    <link rel="P3Pv1" href="/w3c/p3p.xml" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="search"
          type="application/opensearchdescription+xml" 
          href="${script_root}/opensearch/catalogue/full.xml"
          title="MEDIN Catalogue" />
  </head>

  <body>
    <!-- SwishCommand noindex -->
    <div id="frame">
      <div id="header"><div id="topmenu">

        <ul>
          <li><a href="http://www.oceannet.org/about_us/" id="about_us" tabindex="1">about us</a></li>
          <li>|</li>
          <li><a href="http://www.oceannet.org/joining_medin/" id="joining_medin" tabindex="2">joining MEDIN</a></li>
          <li>|</li>				
          <li><a href="http://www.oceannet.org/marine_data_newsletter/" id="marine_data_newsletter" tabindex="3">subscribe to Marine Data Newsletter</a></li>
          <li>|</li>				
          <li><a href="http://www.oceannet.org/contact_us/" id="contact_us" tabindex="4">contact us</a></li>

          <li>|</li>				
          <li><a href="/site_map/" id="site_map" tabindex="5">site map</a></li>
        </ul>
      </div>
      <div id="homelink"><a href="http://www.oceannet.org/"><img src="/images/log.gif" width="300" height="100" class="image_no_border" alt="MEDIN . Marine Environmental Data and Information Network" title="MEDIN . Marine Environmental Data and Information Network" /></a></div>
      <form action="http://www.oceannet.org/search/" method="post" id="searching" onsubmit="return Search_Validator(this);"><div id="search"><label for="searchquery" title="Enter search query"><input id="searchquery" name="query" type="text" size="20" /></label>&nbsp;<input id="submit" type="submit" value="Search" /></div></form>
      <div class="clear"></div>
      </div>
      <div id="main">

        <div id="lh_col"><div id="p7TMnav">
          <div class="p7bottom"><a href="http://www.oceannet.org/" id="home" tabindex="6">Home</a></div>
          <div class="p7bottom p7currentmark"><a href="http://www.oceannet.org/data_discovery_portal/" id="data_discovery_portal" tabindex="7">Data discovery portal</a></div>
          <div class="p7bottom"><a href="http://www.oceannet.org/online_data_by_theme/" id="online_data_by_theme" tabindex="8" onclick="P7_TMenu(this,9);return this.href!=window.location.href;">Online data by theme</a></div>
          <div class="p7bottom"><a href="http://www.oceannet.org/data_submission/" id="data_submission" tabindex="28">Data submission</a></div>
          <div class="p7bottom"><a href="http://www.oceannet.org/marine_data_standards/" id="marine_data_standards" tabindex="29" onclick="P7_TMenu(this,9);return this.href!=window.location.href;">Marine data standards</a></div>
          <div class="p7vbottom"><a href="http://www.oceannet.org/library/" id="library" tabindex="32" onclick="P7_TMenu(this,9);return this.href!=window.location.href;">Library</a></div>
        </div>
        <div class="clear"></div>				
        </div>

        <div id="bodycontent_wide">

          <!-- SwishCommand index -->
          <h1>${title}</h1>
          
          ${next.body()}

          <pre>
<%
from pprint import pformat
context.write(pformat(context.kwargs))
%>
          </pre>
          <!-- SwishCommand noindex -->
        </div>		
      </div>
      <div class="clear"><div id="copyright">©2010<br />Hosted by the <a href="http://www.bodc.ac.uk/">British Oceanographic Data Centre (BODC)</a>.</div>

      </div>
    </div>
    <script type="text/javascript">
      if (window.location.host=="www.oceannet.org") {
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      }
    </script>
    <script type="text/javascript">
      if (window.location.host=="www.oceannet.org") {
      try {
      var pageTracker = _gat._getTracker("UA-8045808-1");
      pageTracker._trackPageview();
      } catch(err) {}
    }</script>
  </body>
</html>
