<%inherit file="base.html"/>

<%def name="start_link()">\
% if first_link:
?${first_link['link']}\
% else:
${query_string}\
% endif
</%def>

<%def name="header()">
% if first_link:
    <link rel="Start"
          type="text/html" 
          href="${resource_root}?${first_link['link']}"
          title="Results page ${first_link['page']}" />
% endif
% if prev_links:
    <link rel="Prev"
          type="text/html" 
          href="${resource_root}?${prev_links[-1]['link']}"
          title="Results page ${prev_links[-1]['page']}" />
% endif
% if next_links:
    <link rel="Next"
          type="text/html" 
          href="${resource_root}?${next_links[0]['link']}"
          title="Results page ${next_links[0]['page']}" />
% endif
    <link rel="alternate"
          type="application/rss+xml"
          href="${resource_root}.rss${start_link()}"
          title="MEDIN - ${title}">
    <link rel="alternate"
          type="application/atom+xml"
          href="${resource_root}.atom${start_link()}"
          title="MEDIN - ${title}">

    <meta name="totalResults" content="${hits}"/>
    <meta name="startIndex" content="${start_index}"/>
    <meta name="itemsPerPage" content="${count}"/>
</%def>

<p>Your search returned <strong>${hits}</strong>
% if hits != 1:
results.
% else:
result.
% endif

% if not results:
% if hits:
 However, the results specified are out of range of the original search.
 Try browsing at <a href="${resource_root}?${first_link['link']}" title="The first result set">the beginning of the results</a>.
% endif
</p>
<% return '' %>
% endif

<%def name="result_links()">
<p>
% if first_link:
<a href="${resource_root}?${first_link['link']}" title="Results page ${first_link['page']}">&laquo;&nbsp;First</a>
% endif
% if prev_links:
<a href="${resource_root}?${prev_links[-1]['link']}" title="Results page ${prev_links[-1]['page']}">&lsaquo;&nbsp;Previous</a> 
% for link in prev_links:
<a href="${resource_root}?${link['link']}" title="Results page ${link['page']}">${link['page']}</a> 
% endfor
% endif

<strong>${current_page}</strong> 

% if next_links:
% for link in next_links:
<a href="${resource_root}?${link['link']}" title="Results page ${link['page']}">${link['page']}</a> 
% endfor
<a href="${resource_root}?${next_links[0]['link']}" title="Results page ${next_links[0]['page']}">Next&nbsp;&rsaquo;</a> 
% endif
% if last_link:
<a href="${resource_root}?${last_link['link']}" title="Results page ${last_link['page']}">Last&nbsp;&raquo;</a>
% endif
</p>
</%def>

 Showing <strong>
% if hits > count:
${start_index} - ${end_index}
% else:
all results
% endif
</strong>:</p>
${result_links()}
<table summary="Table of results">
  <tr>
    <th colspan="2">Title</th>
  </tr>
% for i, res in enumerate(results):
  <tr>
    <td>${start_index+i}.</td>
    <td><a href="${resource_root}/${res['id'] | u}" title="${res['title']}">${res['title']}</a></td>
  </tr>
% endfor
</table>
${result_links()}

<p><a href="${resource_root}.rss${start_link()}" title="Subscribe to these results using RSS"><img alt="Subscribe" src="/images/feed-icon.gif" class="image_no_border"/> RSS</a> 
<a href="${resource_root}.atom${start_link()}" title="Subscribe to these results using Atom"><img alt="Subscribe" src="/images/feed-icon.gif" class="image_no_border"/> Atom</a>