<%namespace import="search_criteria" file="search-common.html"/>
<%inherit file="base-ok.html"/>

<%def name="start_link()">\
% if first_link:
?${first_link['link']}\
% else:
${query_string}\
% endif
</%def>

<%def name="left_menu()">\
<div id="menu-contents">&nbsp;
  <div class="info">
    ${search_criteria()}
    <p><a href="${script_root}/full${query_string}" title="Edit the current search criteria">Edit this search</a>.</p>
  </div>
  <div class="info info-sibling">
    <h3>Bookmark this search</h3>
    <div>Drag the icon to your bookmark bar...</div>
	<p style="text-align:center"><a href="${resource_root}${start_link()}" title="${title}"><img class="image_no_border" alt="${title}" src="/images/bookmark.png" width="103" height="25"/></a></p>
  </div>
</div>
</%def>

<%def name="header()">
% if first_link:
    <link rel="Start"
          type="text/html" 
          href="${resource_root}?${first_link['link']}"
          title="Results page ${first_link['page']}" />
% endif
% if prev_links:
    <link rel="Prev"
          type="text/html" 
          href="${resource_root}?${prev_links[-1]['link']}"
          title="Results page ${prev_links[-1]['page']}" />
% endif
% if next_links:
    <link rel="Next"
          type="text/html" 
          href="${resource_root}?${next_links[0]['link']}"
          title="Results page ${next_links[0]['page']}" />
% endif
    <link rel="alternate"
          type="application/rss+xml"
          href="${script_root}/full/catalogue.rss${start_link()}"
          title="MEDIN - ${title}">
    <link rel="alternate"
          type="application/atom+xml"
          href="${script_root}/full/catalogue.atom${start_link()}"
          title="MEDIN - ${title}">

    <meta name="totalResults" content="${hits}"/>
    <meta name="startIndex" content="${start_index}"/>
    <meta name="itemsPerPage" content="${count}"/>

    <script type="text/javascript">
      <!--        

// Initialise the page once loaded
$(function() {

    // toggle the ordering images (ascending or descending) when the
    // mouse moves over the column heading.
    $('span.sort').each(function(index) {
        var self = $(this);
        var img = self.find('img.sort')
        var cls = (img.hasClass('asc') || img.hasClass('desc')) ? 'asc desc' : 'desc';
        var old_class = img.attr('class');

        function toggle() {
            img.toggleClass(cls);
        }

        // toggle the image class on hover
        self.find('a').hover(toggle, toggle);

        // set the image back to its original stage
        $(window).unload(function() {
            img.attr('class', old_class);
        });
    });
});
      -->
    </script>
    
</%def>

<%def name="sort_links(name, field)">
<%
  fsort = sort[field]
%>
<span class="sort">\
% if fsort['asc'][1]:
<a href="${resource_root}?${fsort['desc'][0]}" title="Toggle ordering of results (currently ascending)">${name}</a>
<img class="sort asc" src="/images/transparent.png" alt="[sorted ascending]" title="Currently sorted by ${name}, ascending"/>\
% elif fsort['desc'][1]:
<a href="${resource_root}?${fsort['asc'][0]}" title="Toggle ordering of results (currently descending)">${name}</a>
<img class="sort desc" src="/images/transparent.png" alt="[sorted descending]" title="Currently sorted by ${name}, descending"/>\
% else:
<a href="${resource_root}?${fsort['desc'][0]}" title="Toggle ordering of results">${name}</a>
<img class="sort" src="/images/transparent.png" alt=""/>\
% endif
</span>
</%def>

<%def name="result_links()">
% if page_count == 1:
<% return '' %>
% endif
<div class="results-nav">
% if first_link:
<a href="${resource_root}?${first_link['link']}" title="Results page ${first_link['page']}">&laquo;&nbsp;First</a>
% endif
% if prev_links:
<a href="${resource_root}?${prev_links[-1]['link']}" title="Results page ${prev_links[-1]['page']}">&lsaquo;&nbsp;Previous</a> 
% for link in prev_links:
<a href="${resource_root}?${link['link']}" title="Results page ${link['page']}">${link['page']}</a> 
% endfor
% endif

<strong>${current_page}</strong> 

% if next_links:
% for link in next_links:
<a href="${resource_root}?${link['link']}" title="Results page ${link['page']}">${link['page']}</a> 
% endfor
<a href="${resource_root}?${next_links[0]['link']}" title="Results page ${next_links[0]['page']}">Next&nbsp;&rsaquo;</a> 
% endif
% if last_link:
<a href="${resource_root}?${last_link['link']}" title="Results page ${last_link['page']}">Last&nbsp;&raquo;</a>
% endif
</div>
</%def>


%if hits == 0:
<p>Your search did not return any results. Try <a href="${script_root}/full${query_string}" title="Edit the current search criteria">editing your search</a> 
%if log:
to correct the errors.
%else:
to make it less restrictive.
%endif
</p>
<%return '' %>
%endif
<p class="info right">Not the results you're looking for? You
  can <a href="${script_root}/full${query_string}" title="Edit the current search criteria">edit this search</a>\
%if log:
 to correct the errors\
%endif
.</p>
<p>Your search returned <strong>${hits}</strong>
% if hits != 1:
results.
% else:
result.
% endif
% if not results:
% if hits:
 However, the results specified are out of range of the original search.
 Try browsing at <a href="${resource_root}?${first_link['link']}" title="The first result set">the beginning of the results</a>.
% endif
</p>
<% return '' %>
% endif

 Showing <strong>
% if hits > count or page_count > 1:
${start_index} - ${end_index}
% else:
all results
% endif
</strong>:</p>

${result_links()}

<table summary="Table of results" class="tabulate">
  <thead>
  <tr>
    <th colspan="2">${sort_links('Title', 'title')}</th>
    <th>${sort_links('Originator', 'originator')}</th>
    <th>${sort_links('Last updated', 'updated')}</th>
  </tr>
  </thead>
<%
  last = len(results)-1
%>
% for i, res in enumerate(results):
  %if i != last:
  <tr>
  %else:
  <tr class="last">
  %endif
    <td>${start_index+i}.</td>
    <td><a href="${script_root}/full/catalogue/${res['id'] | u}" title="${res['title']}">${res['title']}</a></td>
    <td>${res['originator']}</td>
    <td>${res['updated'].strftime("%a %d %b %Y")}</td>
  </tr>
% endfor
</table>
${result_links()}

<form action="${resource_root}" method="get">
<p>
  <select name="c">
% for c in (10, 15, 20, 30, 50, 100, 200):
    <option value="${c}"\
% if c == count:
selected="selected"\
% endif
>${c}</option>
% endfor
  </select>
## Iterate over all query parameters except count
% for (k, v) in [i for i in query.iterall() if i[0] != 'c']:
  <input type="hidden" name="${k}" value="${v | h}"/>
% endfor
  <button type="submit">Change</button> the number of results per page.
</p>
</form>

<p>
<a href="${script_root}/full/catalogue.rss${start_link()}" title="Subscribe to these results using RSS"><img alt="Subscribe" src="/images/feed-icon.gif" class="image_no_border"/> RSS</a> 
<a href="${script_root}/full/catalogue.atom${start_link()}" title="Subscribe to these results using Atom"><img alt="Subscribe" src="/images/feed-icon.gif" class="image_no_border"/> Atom</a>
</p>
