<%inherit file="base.html"/>

<%def name="header()">
    <link rel="alternate"
          type="application/vnd.google-earth.kml+xml"
          href="${resource_root}/kml"
          title="MEDIN - ${title}">
</%def>

% if bbox:
<div style="float: right; width: 260px; margin:auto">
  <h2>Geographic Extent</h2>
  <img width="250" height="250" src="${resource_root}/extent.png" alt="Geographic bounding box" title="Geographic extent of the data" style="border: 3px solid #DAD8FF"/>
  <p>
  The metadata covers the area West - East from ${bbox[0]}&deg; to
  ${bbox[2]}&deg; and North - South from ${bbox[3]}&deg; to
  ${bbox[1]}&deg;.

  <a
  href="${script_root}/full/catalogue?bbox=${bbox[0]},${bbox[1]},${bbox[2]},${bbox[3]}"
  title="Area search for metadata">Search</a> for all metadata within
  this area.<br/>

  <a style="float: right" href="${resource_root}/kml" title="View the extent as a KML file"><img alt="KML" width="16" height="16" src="/images/kml.png" class="image_no_border"> KML</a>
  </p>
</div>
% endif

<h2>Overview</h2>

<p><strong>Abstract:</strong> ${abstract}</p>
% if keywords:
<p class="no-bottom"><strong>Keywords:</strong></p>
<table summary="Keywords by category" class="tabulate mini">
  % for category, words in keywords.items():
  <tr>
    <td><strong>${category}</strong></td>
    <td>${', '.join(words)}</td>
  </tr>
  % endfor
</table>
% endif

<h2>Download</h2>
<p>The complete metadata is available for downloading in the following
  XML metadata formats:</p>
<ul>
  <li><a href="${resource_root}/DC">Dublin Core format</a></li>
  <li><a href="${resource_root}/DIF_v9.4">GCMD DIF format</a> (version 9.4)</li>
  <li><a href="${resource_root}/MEDIN_v2.3.1">MEDIN format</a> (version 2.3.1)</li>
  <li><a href="${resource_root}/ISO19115">ISO 19115 format</a> (encoded as ISO 19139 XML)</li>
</ul>

<h2>Details</h2>
<p class="no-bottom">Details for the metadata are as follows:</p>

<table summary="Metadata details" class="tabulate mini metadata">
  % if linkage:
  <tr>
    <td class="heading"><strong>Resource locator</strong></td>
    <td class="content">
      % for i, resource in enumerate(linkage):
      % if i:
      <div class="sibling">
      % else:
      <div>
      % endif
        <a href="${resource['link']}" title="External link">
          % if resource['name']:
          ${resource['name']}
          % else:
          ${resource['link']}
          % endif
          </a>
        % if resource['description']:
        - ${resource['description']}
        % endif
      </div>
      % endfor
    </td>
  </tr>
  % endif

  % for name, details in metadata:
  <tr>
    <td class="heading"><strong>${name}</strong></td>
    <td class="content">
      % for i, detail in enumerate(details):
      % if i:
      <div class="sibling">
      % else:
      <div>
      % endif
      ${detail}</div>
      % endfor
    </td>
  </tr>
  % endfor
</table>
