<%def name="search_criteria()">\
    <h3>You are searching for...</h3>
    <span id="criteria-term">
    %if not criteria['terms'] and not criteria['dates'] and not criteria['area'] and not criteria['bbox']:
      <strong>everything</strong> in the catalogue.
    %elif not criteria['terms']:
      <strong>everything</strong>
    %else:
      documents containing 
    %endif
    %for term in criteria['terms']:
      %if term['op']:
      <strong>${term['op']}</strong> 
      %endif
      <kbd>${term['word']}</kbd> 
      %if term['target'][0] and term['target'][1]:
      (in ${term['target'][1]})
      %elif term['target'][0] and not term['target'][1]:
      (<span class="error">ignoring unknown target <strong>${term['target'][0]}</strong></span>)
      %endif
    %endfor
    </span><span id="criteria-date">
    %if 'start' in criteria['dates'] and 'end' in criteria['dates']:
      between <strong>${criteria['dates']['start']}</strong> and <strong>${criteria['dates']['end']}</strong>
    %elif 'start' in criteria['dates']:
      since <strong>${criteria['dates']['start']}</strong>
    %elif 'end' in criteria['dates']:
      before <strong>${criteria['dates']['end']}</strong>
    %endif
    </span><span id="criteria-area">
    %if criteria['area']:
      in <strong>${criteria['area']}</strong>
    %elif criteria['bbox']:
      in <strong>${'%.2f' % criteria['bbox'][3]}N ${'%.2f' % criteria['bbox'][1]}S ${'%.2f' % criteria['bbox'][2]}E ${'%.2f' % criteria['bbox'][0]}W</strong>
    %endif
    </span>
    <p id="result-count"><strong>${hits}</strong> 
    %if hits != 1:
    results
    %else:
    result
    %endif
    returned in <strong>${'%.2f' % runtime}</strong> seconds.</p>
</%def>
