<%namespace import="search_criteria" file="search-common.html"/>
<%inherit file="base-ok.html"/>

<%def name="header()">
    <link href="/css/ui-lightness/jquery-ui-1.8rc3.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #map {
            width: 100%;
            height: 400px;
            border: 1px solid #ADACA8;
        }
        #map-holder {
            margin-top: 0.5em;
        }
    </style>
    <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8rc3.js"></script>
    <script type="text/javascript" src="/js/openlayers/OpenLayers.js"></script>
    <script type="text/javascript" src="/js/full/search.js"></script>
    <script type="text/javascript">
        <!--
var map, boxes, box;            // map object, box layer, box marker
%if bbox:
var bbox = new OpenLayers.Bounds(${bbox[0]}, ${bbox[1]}, ${bbox[2]}, ${bbox[3]});
%else:
var bbox = null;
%endif
%if area:
var area = '${area}';
%else:
var area = null;
%endif
var script_root = '${script_root}';

function add_box(extent) {
    clear_box();                // remove any previous box

    // add the box to the map
    box = new OpenLayers.Marker.Box(extent);
    box.setBorder('#ca0000');
    $(box.div).addClass('area');
    bbox = extent;
    boxes.addMarker(box);

    map.zoomToExtent(extent);   // zoom to the box

    $('#bbox').val(extent.toBBOX()); // set the form element
}

// remove the bounding box and deselect the area
function clear_area() {
    var select = $('#area')
    select.val('');
    select.change();
}

function clear_box() {
    if (box) {
        boxes.removeMarker(box);
        box = null;
    }

    $('#bbox').val('');
}

function zoom_to_area(id) {
    get_bbox(id, function(ttbox) {
        if (!tbbox)
            return false;

        map.zoomToExtent(OpenLayers.Bounds.fromArray(tbbox));
        return true;
    });
}

// Populate the area selection control
function populate_areas() {
    var select = $('#area');

    // ensure a bbox is created when an area is selected
    select.change(function() {
        var id = $(this).attr('value');
        if (!id) {
            clear_box();
            return;
        }
        
        get_bbox(id, function(tbbox) {
            if (!tbbox) {
                clear_box();
                return;
            }

            var extent = new OpenLayers.Bounds(tbbox[0], tbbox[1], tbbox[2], tbbox[3]);
            add_box(extent);
        });
    });

    // if there's an existing area, select it
    if (area) {
        select.val(area);
        select.change();
    } else if (bbox) {
        add_box(bbox);
    } else {
        // zoom to the UK as a default

        // The map is hidden to begin with and needs to be initialised
        // when it is first shown
        $('body').bind('fieldsetview', function(event, id) {
            if (id != 'spatial-search')
                return;

            map.updateSize();
            zoom_to_area('GB');
            $(this).unbind(event); // we don't need this event any more
        });
    }
}

function init_date(id) {
    var input = $('#'+id);
    var text = $('#'+id+'-text');

    // a function to initialise the date picker
    var init_datepicker = function() {
        input.datepicker({
            onClose: function(new_date, picker) {
                if (!new_date) {
                    input.hide();
                    text.show();
                }
            },
            onSelect: function(date, picker) {
                // trigger the change event, which is used by the
                // query checking code.
                input.change();
            }
        });
    }

    var has_date = input.val();
    // initialise the date picker if a date is present
    if (has_date) {
        init_datepicker();
        text.hide();
        input.show();
    }

    text.one('click', function() {
        $(this).hide();
        input.show();

        // initialise the date picker if there was no initial date
        if (!has_date) {
            init_datepicker();
        }
        
        input.datepicker('show');
        
        // for subsequent clicks
        text.click(function() {
            $(this).hide();
            input.show();
            input.datepicker('show');
        });
    });
}

// Initialise the page once loaded
$(function() {
    // initialise the date pickers
    $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });
    init_date('start-date');
    init_date('end-date');

    // initialise the mapping
    var extent = new OpenLayers.Bounds(-180, -90, 180, 90);
    var options = {
        restrictedExtent: extent,
        maxExtent: extent,
        maxResolution: 360/512
    }
    
    map = new OpenLayers.Map('map', options);
    var layer = new OpenLayers.Layer.TMS( "Bathy", 
                                      "${script_root}/spatial/tms/",
                                      { layername: 'bathymetry', type: 'png' } );
    map.addLayer(layer);

    boxes = new OpenLayers.Layer.Boxes("boxes");
    map.addLayer(boxes);

    // add the area selections
    populate_areas();

    // add the user input checks to the form so that when input is
    // updated it is checked on the server.
    $('#search-form input[type=text], select').change(function() {
        check_query();
    });

    // if the current form contents don't match the original query
    // string (i.e. the user has pressed the back button), then check
    // the query
    if ('${query_string}' != '?'+$('#search-form').serialize())
        check_query();
});

        // -->
    </script>
</%def>

<%def name="left_menu()">\
<div id="menu-contents">&nbsp;
  <div class="box">
    ${search_criteria()}
  </div>
</div>
</%def>

<%def name="area_selection(area_id)">\
    %for id, name in area_ids[area_id]:
<option value="${id}">${name}</option>
    %endfor
</%def>

<form id="search-form" method="GET" action="${resource_root}/catalogue">
  <fieldset>
    <legend>Search term</legend>
    <input type="text" name="q" size="30"\
  %if search_term:
 value="${search_term}"
  %endif
/> <input type="submit" value="search"/>
    <div>Leave blank to match everything. (<a href="javascript:toggle('search-term-help', 'help', 'hide help')" id="search-term-help-link" title="Show or hide the help">help</a>)</div>
    <div id="search-term-help" style="display: none">
    <p>Words typed in 'as is' will result in a full text search that
    requires all words to be present in matching metadata, e.g.:</p>
    
    <blockquote><div><kbd>aerosol pollution
    troposphere</kbd></div></blockquote>
    
    <p>will find all documents containing <strong>all</strong> of the
    above words.</p>
    
    <p>Words can be excluded from result matches using the
    <strong>minus sign</strong> (<strong>-</strong>) e.g.:</p>
    
    <blockquote><div><kbd><strong>-</strong>aerosol pollution
    <strong>-</strong>troposphere</kbd></div></blockquote>
    
    <p>will find all documents that contain <kbd>pollution</kbd> but
    <strong>not</strong> <kbd>aerosol</kbd> <strong>or</strong>
    <kbd>troposphere</kbd>.</p>
    
    <p>Instead of finding all matching terms, alternative matches can
    be specified using the <strong>pipe character</strong>
    (<strong>|</strong>) e.g.:</p>
    
    <blockquote><div><kbd>aerosol <strong>|</strong> pollution
    troposphere</kbd></div></blockquote>
    
    <p>will find all documents that contain <kbd>troposphere</kbd> and
    <strong>either</strong> <kbd>aerosol</kbd> <strong>or</strong>
    <kbd>pollution</kbd>.</p>
    
    <p>As well as running full text searches, more specific search
    targets can be specified by prefixing words with a target
    identifier.  Available target identifiers and how they relate to
    search fields are as follows:</p>

    <blockquote><div>
      <strong>a</strong>  => Author<br/>
      <strong>p</strong>  => Parameter<br/>
      <strong>rt</strong> => Resource type<br/>
      <strong>tc</strong> => Topic category<br/>
      <strong>l</strong>  => Lineage<br/>
      <strong>al</strong> => Public access limits<br/>
      <strong>o</strong>  => Data originator<br/>
      <strong>f</strong>  => Data format<br/>
    </div></blockquote>
    
    <p>The identifier is separated from the word using a
    <strong>colon</strong> (<strong>:</strong>) e.g.:</p>
    
    <blockquote><div><kbd>aerosol <strong>tc:</strong>pollution
    <strong>p:</strong>troposphere</kbd></div></blockquote>
    
    <p>will match all documents that contain <kbd>aerosol</kbd> that
    also have a <strong>topic category</strong> containing
    <kbd>pollution</kbd> and a <strong>parameter</strong> containing
    <kbd>troposphere</kbd>.</p>
    </div>
  </fieldset>
  <fieldset id="date-search"\
    %if not start_date and not end_date:
 class="off"\
    %endif
>
    <legend><a href="javascript:toggle_fieldset('date-search')" title="Show or hide the date range">Date range</a></legend>
    <div\
    %if not start_date and not end_date:
 style="display:none"\
    %endif
>

      <div>Match data that overlaps the period:</div>
      <div> from <a id="start-date-text" href="#" title="Specify a start date" onclick="return false;"\
    %if start_date:
 style="display:none"\
    %endif
>the earliest record</a><input type="text" name="sd" id="start-date" maxlength="10" size="10"\
    %if start_date:
 value="${start_date}"\
    %else:
 style="display:none"\
    %endif
  /> to <a id="end-date-text" href="#" title="Specify an end date" onclick="return false;"\
    %if end_date:
 style="display:none"\
    %endif
>the latest record</a><input type="text" name="ed" id="end-date" maxlength="10" size="10"\
    %if end_date:
 value="${end_date}"\
    %else:
 style="display:none"\
    %endif
  /> <input type="submit" value="search"/></div>
      <div>Dates should be in the format <strong>YYYY-MM-DD</strong>.</div>
    </div>
  </fieldset>

  %if sort:
  <input name="s" type="hidden" value="${sort}" />
  %endif
  %if count:
  <input name="c" type="hidden" value="${count}" />
  %endif
  <input name="bbox" id="bbox" type="hidden" value="\
  %if bbox:
${','.join(bbox)}\
  %endif
" />

  <fieldset id="spatial-search"\
    %if not area and not bbox:
 class="off"\
    %endif
>
    <legend><a href="javascript:toggle_fieldset('spatial-search')" title="Show or hide the geographic search">Geographic search</a></legend>
    <div\
    %if not area and not bbox:
 style="display:none"\
    %endif
>
      <div>
        <select name="a" id="area">
          <option value="">Select an area...</option>
          <optgroup id="british-isles" label="British Isles">
${area_selection('british-isles')}
          </optgroup>
          <optgroup id="countries" label="Countries">
${area_selection('countries')}
          </optgroup>
        </select>
        <input type="submit" value="search"/>
        <input type="button" onclick="javascript:clear_area()" value="clear area"/>
      </div>
      <div id="map-holder">
        <div id="map"></div>
      </div>
    </div>
  </fieldset>
</form>